save-data/*
!save-data/saves
!save-data/cfg

save-data/saves/*
!save-data/saves/default-world

save-data/saves/default-world/*
!save-data/saves/default-world/worldSettings.cfg

save-data/cfg/*
!save-data/cfg/server.cfg
